
body {
    margin: 0;
    background-color: pink; /* Светло-серый фон */
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease; /* Плавный переход */
}

header {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    padding: 1% 1%; /* Отступы сверху/снизу и слева/справа */
    position: fixed; /* Фиксированное положение */
    width: 100%; /* Ширина 100% */
    height: 8%;
    top: 0; /* Вверху страницы */
    left: 0; /* Слева страницы */
    box-sizing: border-box; /* Учитываем отступы в ширине */
    display: flex; /* Используем flex для выравнивания элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем по центру по вертикали */
}

.header-title {
    margin: 0; /* Убираем отступы по умолчанию */
    font-size: 2.5vh; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: left; /* Выровнять текст по левому краю */
    margin-left: 15%;
}

.content {
    padding-top: 4%; /* Отступ сверху для контента */
    text-align: center; /* Центрирование текста контента */
    font-size: 2vh;
}

.a_demo_two {
    background-color: #cec7c7; /* Серый фон кнопки */
    color: #000; /* Черный цвет текста кнопки */
    border: none;
    padding: 0.5% 0.8%; /* Отступы внутри кнопки */
    font-size: 0.9vw; /* Размер шрифта кнопки */
    cursor: pointer; /* Указатель курсора на кнопку */
    border-radius: 10%; /* Закругленные углы */
    margin-right: 15%;
    /* для объемной кнопки*/
    transition: filter 0.3s ease; /* Плавный переход для эффекта осветления */
}

    .a_demo_two:active {
        filter: brightness(1.5); /* Вернуться к обычной яркости при нажатии */
    }

    .a_demo_two::before {
        filter: brightness(1); /* Осветление кнопки при наведении */
    }

.blog-container {
    width: 40%; /* Ширина блока, можно изменить по необходимости */
    margin: 0 auto; /* Центрирование блока */
}

.blog-item {
    background-color: #f9f9f9; /* Цвет фона блока блога */
    border: 1px solid #ccc; /* Граница блока */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 15px; /* Отступ между блогами */
    overflow: hidden; /* Скрытие переполнения */
}

.blog-title {
    padding: 15px; /* Отступ внутри заголовка */
    cursor: pointer; /* Указатель курсора */
}

.blog-content {
    display: block; /* Скрываем контент по умолчанию */
    padding: 15px; /* Отступ внутри контента */
    background-color: #fff; /* Цвет фона контента */
}